<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<h1>Passionate Music</h1>
      <ul class="type">
        <li class="selected">Dot</li>
        <li>Column</li>
      </ul>
  	</header>  	
    <div class="list">
    	<button class="music-add" id="add">
    		Local music
        
    	</button>
      <input class="upload" type="file" id="upload" />
    	<ul class="music-list">
        <% music.forEach(function(name){ %>
        <li title="<%= name %>"><%= name %></li>
        <% }) %>
    	</ul>
    </div>
    <div class="canvas" id="canvas">
    </div>
    <script type="text/javascript" src='/javascripts/MusicVisualizer.js'></script>
    <script type="text/javascript" src='/javascripts/index.js'></script>
  </body>
</html>
